## MySQL?
 - 여러 응용 시스템들의 통합된 정보를 저장하여, 운영할 수 있는 공용 데이터의 묶음
 - 논리적으로 연관된 하나 이상의 자료 모음으로 검색/갱신등의 데이터 관리를 효율화함
### RDBMS(Relational Database Management System, 관계형 데이터베이스 관리 시스템)
 - 데이터베이스의 한 종류로, 가장 많이 사용됨
 - 역사가 오래되어, 가장 신뢰성이 높고, 데이터 분류, 정렬, 탐색 속도가 빠름
 - 관계형 데이터베이스 = 테이블
 - 관계형 데이터베이스에서는 데이터를 속성(Attribute)과 데이터 값(Attribute Value)으로 구조화(2차원 Table 형태로 만들어짐)
 - 주요 용어<br><br>
- Primary Key and Foreign Key
  - Primary Key(기본키): Primary Key는 한 테이블(Table)의 각 로우(Row)를 유일하게 식별해주는 컬럼(Column)으로, <br>
    각 테이블마다 Primary Key가 존재해야 하며, NULL 값을 허용하지 않고, 각 로우(Row)마다 유일한 값이어야 한다.
  - Foreign Key(외래키 또는 외부키): Foreign Key는 한 테이블의 필드(Attribute) 중 다른 테이블의 행(Row)을 식별할 수 있는 키<br>
### CRUD [Create(생성), Read(읽기), Update(갱신), Delete(삭제)]

In [ ]:
 INSERT INTO users (uname, email) VALUES ('이의찬', 'outdark97@naver.com');
 SELECT	* FROM users WHERE uname = '이의찬';
 UPDATE users SET email = 'outdark97@gmail.com' WHERE uname = '이의찬';
 DELETE from users WHERE uname = '이의찬';

* cmd에서 mysql -u root -p로 mysql 접속
* source {pate}/init_sql.sql

## LIKE
- 한 글자, 한단어가 포함된 데이터를 찾을 때 사용
- SELECT * FROM users WHERE email LIKE '%out%'

## ORDER BY {column} DESC | ASC

- SELECT * FROM users ORDER BY email DESC;

- email 기준으로 내림차순으로 정렬해서 검색
- *ASC :오름 차순

## LIMIT
- 범위 설정
- SELECT * FROM users LIMIT 1,3;
- users 테이블에서 1번부터 3번까지 검색

## 명령어 순서

In [24]:
import pymysql
import pandas as pd

db = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    passwd='eui1119',
    db='sql_study_db',
    charset='utf8',
)


query = "SELECT * FROM users WHERE uname LIKE '%e%' ORDER BY idx ASC LIMIT 0,2"
df = pd.read_sql(query, db)
print(df)
db.close()

   idx    uname gender  age cname
0    1  euichan    man   19   ccc
1    6    jenga  woman   25   bbb

## GROUP BY, HAVING
- GROUP BY: 그룹을 지어서 데이터를 분석할때 사용
- 집계함수(COUNT, SUM, AVG, MAX, MIN) 함수와 함께 사용하면 각 그룹별 row 수, 합계, 평균, 최대, 최소 값을 알 수 있음
- HAVING: 집계 함수에 조건을 줌
- EX) SELECT provider, COUNT(*) FROM items GROUP BY provider ORDER BY COUNT(*) DESC;   
<br>
### COUNT(*)
- count : 검색 결과의 row 수를 가져올 수 있는 sql 문법
- SQL 예제: SELECT COUNT(*) FROM items;
- SQL 예제: SELECT COUNT(age) FROM people; (age필드에 값이 없다면 count하지않음)
<br>
### SUM, AVG, MAX, MIN
- SUM: 필드 값 합
- AVG: 필드 값 평균
- MAX: 필드 값의 최댓값
- MIN: 필드 값의 최솟값

In [27]:
import pymysql
import pandas as pd

db = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    passwd='eui1119',
    db='sql_study_db',
    charset='utf8',
)

print("유저 성별별 인원수")
query = """
SELECT gender, COUNT(*) FROM users GROUP BY gender 
"""
df = pd.read_sql(query, db)
print(df)

print("\n유저 중 나이가 가장 많은 사람, 적은 사람")
query = """
SELECT uname, MAX(age) AS MAX_AGE, MIN(age) AS MIN_AGE
FROM users;
"""
df = pd.read_sql(query, db)
print(df)

print('\n클랜별 인원 수 2 이상인 클랜')
query = """SELECT cname, COUNT(*) FROM users GROUP BY cname HAVING COUNT(*)>2"""
df = pd.read_sql(query, db)
print(df)

db.close()

유저 성별별 인원수
  gender  COUNT(*)
0    man         4
1  woman         3

유저 중 나이가 가장 많은 사람, 적은 사람
     uname  MAX_AGE  MIN_AGE
0  euichan       34        5

클랜별 인원 수 2 이상인 클랜
  cname  COUNT(*)
0   aaa         3
1   ccc         3

## JOIN
#### 외래키(FOREIGN KEY)를 만드는 이유
* 두 테이블 사이에 관계를 선언해서, 데이터의 무결성을 보장

In [39]:
import pymysql
import pandas as pd

db = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    passwd='eui1119',
    db='sql_study_db',
    charset='utf8',
)

query = """SELECT * FROM users 
           INNER JOIN clans on users.cname = clans.cname 
"""
df = pd.read_sql(query, db)
print(df)

db.close()

   idx      uname gender  age cname cname         create_date  win_rate
0    1    euichan    man   19   ccc   ccc 2021-08-03 20:50:18      51.2
1    2      jiwon  woman   21   aaa   aaa 2021-08-03 20:50:18      55.5
2    3      minji  woman    5   aaa   aaa 2021-08-03 20:50:18      55.5
3    4    yunghun    man   15   ccc   ccc 2021-08-03 20:50:18      51.2
4    5  kyungchul    man   34   ccc   ccc 2021-08-03 20:50:18      51.2
5    6      jenga  woman   25   bbb   bbb 2021-08-03 20:50:18      49.0
6    7      elise    man   33   aaa   aaa 2021-08-03 20:50:18      55.5

## +) JOIN vs SUB_QUERY

In [47]:
import pymysql
import pandas as pd

db = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    passwd='eui1119',
    db='sql_study_db',
    charset='utf8',
)

#승률이 50%이상인 클랜의 성별수
query = """SELECT gender, COUNT(*)  FROM users WHERE cname IN (SELECT cname FROM clans WHERE win_rate > 50.0) GROUP BY gender
           
"""
df = pd.read_sql(query, db)
print(df)

db.close()

  gender  COUNT(*)
0    man         4
1  woman         2